<div class="grid-container">
  <mat-card class="form-wrapper" role="form">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>A Basic Chatroom App</mat-card-subtitle>

    <!-- Loading Spinner -->
    <mat-card-content class="loading-spinner-wrapper" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </mat-card-content>
    
    <!-- Login Input Fields -->
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <mat-card-content>
        
        <!-- Email -->
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input 
            class="input-email"
            formControlName="email" 
            matInput 
            required
            type="email"
          >
          <mat-error *ngIf="formLogin.get('email').value === ''; else emailValidError">
            *required
          </mat-error>
          <ng-template #emailValidError>
            <mat-error>Please enter a valid email address</mat-error>
          </ng-template>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input 
            class="input-password" 
            formControlName="password" 
            matInput 
            required 
            [type]="passwordIsVisible ? 'text' : 'password'" 
          >
          <button 
            class="button-password-visibility" 
            matSuffix 
            tabindex="-1"
            type="button" 
            (click)="passwordIsVisible = !passwordIsVisible" 
          >
            <mat-icon>{{ passwordIsVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="formLogin.get('password').value === ''; else password6CharsError">
            *required
          </mat-error>
          <ng-template #password6CharsError>
            <mat-error>Password must be at least 6 characters long</mat-error>
          </ng-template>
        </mat-form-field>
      </mat-card-content>
      
      <!-- Login/Remember Me/Forgot Password Links & Buttons -->
      <mat-card-actions>
        <div class="mat-card-actions-row-1">
          <mat-checkbox 
            class="checkbox-remember-me"
            color="primary" 
            formControlName="rememberMe"
          >
            Remember Me
          </mat-checkbox>
          <button 
            class="button-forgot-password" 
            mat-button
            type="button"
          >
            Forgot Password?
          </button>
        </div>
        <button 
          class="button-login"
          color="primary"
          mat-raised-button 
          type="submit" 
          [disabled]="!formLogin.valid"
        >
          Login
        </button>
      </mat-card-actions>

      <!-- Error Messages -->
      <mat-card-footer>
        <mat-error *ngIf="isError">{{ errorMessage }}</mat-error>
      </mat-card-footer>

    </form>
  </mat-card>
</div>