$create-a-password-wrapper-transition: 0.2s ease-in-out;

.button-password-visibility {
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

button {
  margin-top: calc(1rem + 1vw);
}

.create-a-password-wrapper {
  text-align: center;
  &.hide {
    padding: 0;
    height: 0;
    overflow-y: hidden;
    transition: $create-a-password-wrapper-transition;
    visibility: hidden;
  }
  &.show {
    padding: calc(0.25rem + 0.25vw);
    height: 30vh;
    overflow-y: hidden;
    transition: $create-a-password-wrapper-transition;
    visibility: visible;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

mat-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}