<mat-sidenav-container>

  <!-- Sidenav -->
  <mat-sidenav [opened]="isSideNavOpen" mode="side">

    <!-- Navigation -->
    <mat-nav-list>
      <a mat-list-item routerLink="/channels">Dashboard</a>
      <a mat-list-item (click)="openCreateChannelDialog()">Create Channel</a>
    </mat-nav-list>
    <mat-accordion *ngIf="activeChannel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span 
            matBadge="{{ usersLength(users) }}" 
            matBadgeOverlap="false"
            matBadgePosition="above after"
            matBadgeSize="small"
          >
            Users
          </span>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let user of users">{{ user }}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>