.mat-badge-small.mat-badge-above .mat-badge-content {
  margin-left: 1rem;
  right: -1.25rem;
  top: 0px;
}

mat-sidenav {
  width: 300px;
}

mat-sidenav-content {
  height: calc(100vh - 128px);
}

mat-slide-toggle {
  padding: calc(0.5rem + 0.5vw);
}