<mat-sidenav-container>

  <!-- Sidenav -->
  <mat-sidenav 
    [opened]="isSideNavOpen" 
    mode="side"
  >
    
    <!-- Sidenav Header -->
    <!-- <mat-toolbar>Sidenav Menu</mat-toolbar> -->

    <mat-nav-list>
      <a routerLink="/channels"><mat-list-item>Channels</mat-list-item></a>
      <a routerLink="/channel"><mat-list-item>Channel</mat-list-item></a>
      <a routerLink="/channel/asdf"><mat-list-item>Channel 'asdf'</mat-list-item></a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>