form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

mat-sidenav {
  width: 300px;
}

mat-sidenav-content {
  height: calc(100vh - 128px);
}