<mat-sidenav-container>

  <!-- Sidenav -->
  <mat-sidenav 
    [opened]="isSideNavOpen" 
    mode="side"
  >
    
    <!-- Sidenav Header -->
    <!-- <mat-toolbar>Sidenav Menu</mat-toolbar> -->

    <mat-nav-list>
      <a mat-list-item routerLink="/channels">Channels</a>
      <a mat-list-item routerLink="/channel">Channel</a>
      <a mat-list-item routerLink="/channel/asdf">Channel 'asdf'</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>