.loading-spinner-wrapper {
  display: flex;
  justify-content: center;
}

div.grid-container {
  display: grid;
  grid-auto-rows: minmax(15vh, auto);
  grid-gap: calc(1rem + 1vw);
  grid-template-areas:
    "login";
  grid-template-columns: 1fr;
  padding: calc(1rem + 1vw);
  @media (min-width: 767px) {
    grid-template-areas:
      ". login login login login login .";
    grid-template-columns: repeat(7, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-areas:
      ". . login login login . .";
    grid-template-columns: repeat(7, 1fr);
  }
}

mat-card.form-wrapper {
  grid-area: login;
  & mat-form-field {
    margin-bottom: calc(0.5rem + 0.5vw);
    width: 100%;
    & .button-password-visibility,
    & .button-password-visibility-off {
      background-color: transparent;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  & mat-card-actions {
    & a {
      text-decoration: none;
    }
    & .mat-card-actions-row-1 {
      align-items: center;
      display: flex;
      margin-bottom: calc(1rem + 1vw);
      & .button-forgot-password {
        font-size: calc(0.75rem + 0.25vw);
        margin-left: auto;
      }
    }
    & mat-checkbox {
      display: block;
      font-size: calc(0.75rem + 0.25vw);
    }
  }
  & mat-card-footer mat-error {
    padding: calc(0.5rem + 0.5vw);
  }
}