<div class="grid-container">
  <mat-card class="form-wrapper" role="form">

    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>A Basic Chatroom App</mat-card-subtitle>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

      <!-- Login Input Fields -->
      <mat-card-content>
        <mat-form-field>

          <!-- Username -->
          <mat-label>Username</mat-label>
          <input 
            class="input-username"
            formControlName="username" 
            matInput 
            required
            type="text"
          >
          <mat-error *ngIf="
            !formLogin.get('username').valid && 
            formLogin.get('username').value === '' &&
            formLogin.get('username').touched === true
          ">*required</mat-error>
          <mat-error *ngIf="
            !formLogin.get('username').valid && 
            formLogin.get('username').value.length < 4 &&
            formLogin.get('username').touched === true
          ">Username must be at least 4 characters long</mat-error>
        </mat-form-field>
        <br><br>

        <!-- Password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input 
            class="input-password"
            formControlName="password" 
            matInput 
            required
            type="password"
          >
          <mat-error *ngIf="
            !formLogin.get('password').valid && 
            formLogin.get('password').value === '' &&
            formLogin.get('password').touched === true
          ">*required</mat-error>
          <mat-error *ngIf="
            !formLogin.get('password').valid && 
            formLogin.get('password').value.length < 4 &&
            formLogin.get('password').touched === true
          ">Password must be at least 4 characters long</mat-error>
        </mat-form-field>
      </mat-card-content>
      
      <!-- Login/Remember Me/Forgot Password Links & Buttons -->
      <mat-card-actions>
        <mat-checkbox 
          class="checkbox-remember-me"
          color="primary" 
          formControlName="rememberMe"
        >Remember Me</mat-checkbox>
        <button 
          class="button-login"
          color="primary"
          mat-raised-button 
          [disabled]="!formLogin.valid"
        >Login</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>