<!-- Channel Title -->
<mat-toolbar>Channel {{ channelName }}</mat-toolbar>

<!-- Loading Spinner -->
<mat-card-content class="loading-spinner-wrapper" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</mat-card-content>

<!-- Messages -->
<mat-list>
  <mat-list-item
    class="message"
    *ngFor="let message of messages"
  >
    <mat-chip-list>
      {{ message?.time?.seconds * 1000 | date:'hh:mm:ss' }}
      <mat-chip>{{ message?.user }}</mat-chip>
      {{ message?.message }}
    </mat-chip-list>
  </mat-list-item>
</mat-list>