<!-- Channel Title -->
<mat-toolbar>Channel {{ channelName }}</mat-toolbar>

<!-- Messages -->
<mat-list>
  <mat-list-item
    class="message"
    *ngFor="let message of messages"
  >
    <mat-chip-list>
      {{ message?.time?.seconds | date:'hh:mm:ss' }}
      <mat-chip>{{ message?.user }}</mat-chip>
      {{ message?.message }}
    </mat-chip-list>
  </mat-list-item>
</mat-list>

<!-- Message Input Toolbar -->
<form [formGroup]="formInput" (ngSubmit)="onSubmit($event)">
  <mat-toolbar class="toolbar-message">

    <!-- Message Input Field -->
    <mat-form-field>
      <input 
        class="input-message"
        formControlName="input"
        matInput
        required
        type="text"
      >
    </mat-form-field>

    <!-- Message Submit Button -->
    <button
      class="button-message"
      mat-raised-button
      type="submit"
      [disabled]="!formInput.valid"
    >
      Send
    </button>
    
  </mat-toolbar>
</form>