<h1 color="primary">Channels</h1>

<!-- Channel List Errors -->
<div *ngIf="!channelsExist && !isLoading">
  <mat-toolbar class="error-no-channels">There are no channels.</mat-toolbar>
</div>
<div *ngIf="errorChannelDeletion">
  <mat-toolbar class="error-channel-deletion">{{ errorChannelDeletion }}</mat-toolbar>
</div>
<div *ngIf="errorFetchChannels">
  <mat-toolbar class="error-fetch-channels">{{ errorFetchChannels }}</mat-toolbar>
</div>

<!-- Channel List -->
<div *ngIf="channelsExist">
  <mat-nav-list>
    <div class="channel-link-and-delete-button-wrapper" *ngFor="let channel of objectKeys(allChannels)">
      <a
        mat-list-item 
        [routerLink]="['/channel', channel]"
      >
        {{ channel }}
      </a>
      <button
        color="warn"
        mat-button
        (click)="onDeleteChannel(
          channel, 
          allChannels[channel].channelPermission,
          allChannels[channel].channelCreator
        )"
      >
        x
      </button
      >
    </div>
    <div *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></div>
  </mat-nav-list>
</div>