<h1>Channels</h1>

<!-- Create Channel Form -->
<form #f="ngForm" (ngSubmit)="onCreateChannel(f)">

  <!-- Input Field -->
  <mat-form-field>
    <input 
      matInput
      name="channelName"
      ngModel 
      required 
      type="text" 
      value
    >
  </mat-form-field>

  <!-- Submit Button -->
  <button
    mat-button 
    type="submit" 
    [disabled]="!f.valid"
  >
    Create Channel
  </button>

</form>

<!-- Channel List Errors -->
<div *ngIf="!channelsExist && !isLoading">
  <mat-toolbar class="error-no-channels">There are no channels.</mat-toolbar>
</div>
<div *ngIf="errorChannelCreation">
  <mat-toolbar class="error-channel-creation">{{ errorChannelCreation }}</mat-toolbar>
</div>
<div *ngIf="errorChannelDeletion">
  <mat-toolbar class="error-channel-deletion">{{ errorChannelDeletion }}</mat-toolbar>
</div>

<!-- Channel List -->
<div *ngIf="channelsExist">
  <mat-nav-list>
    <div class="channel-link-and-delete-button-wrapper" *ngFor="let channel of allChannels">
      <a 
        mat-list-item 
        [routerLink]="['/channel', channel[1].channelName]"
      >
        {{ channel[1].channelName }}
      </a>
      <button
        mat-button
        (click)="onDeleteChannel(channel[0], channel[1].channelName)"
      >
        x
      </button
      >
    </div>
    <div *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></div>
  </mat-nav-list>
</div>