<h1>Channels</h1>

<!-- Create Channel Form -->
<form #f="ngForm" (ngSubmit)="onCreateChannel(f)">

  <!-- Input Field -->
  <mat-form-field>
    <input 
      matInput
      name="channelName"
      ngModel 
      required 
      type="text" 
      value
    >
  </mat-form-field>

  <!-- Submit Button -->
  <button
    mat-button 
    type="submit" 
    [disabled]="!f.valid"
  >
    Create Channel
  </button>

</form>

<!-- Channel List -->
<mat-nav-list>
  <div class="link-and-delete-button" *ngFor="let channel of allChannels">
    <a 
      mat-list-item 
      [routerLink]="['/channel', channel]"
    >
      {{ channel }}
    </a>
    <app-delete-channel></app-delete-channel>
  </div>
  <div *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></div>
</mat-nav-list>