h1 {
  margin: calc(1rem + 1vw);
}

mat-error {
  text-align: center;
}

mat-form-field {
  margin: calc(0.5rem + 0.5vw);
}

.channel-link-and-delete-button-wrapper {
  align-items: center;
  display: flex;
  & button {
    border-radius: 0;
    height: 48px;
  }
}