<div class="channel-password-wrapper" *ngIf="channelIsPrivate">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <!-- Private Channel Password Field -->
    <mat-form-field>
      <input 
        matInput
        name="channelPassword"
        ngModel
        placeholder="Channel Password"
        required
        type="text"
      >
    </mat-form-field>
    <br>
    <button
      color="primary"
      mat-raised-button
      type="submit"
      [disabled]="false"
    >
      Enter
    </button>

    <!-- Handle Incorrect Password Error -->
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </form>
</div>