/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';
// @import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';
@import './custom-themes.scss';

html, body { height: 100%; }

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  overflow: hidden;
}

.delete-channel-snackbar {
  background-color: #333;
  & .mat-simple-snackbar {
    color: white;
  }
}

// Style the footer input bar here, instead of using ::ng-deep or altering the
// footer component's view encapsulation
.footer-input-bar {
  & .mat-form-field-underline .mat-form-field-ripple {
    background-color: white;
  }
}