<mat-toolbar>
  <!-- <div *ngIf="isAuthenticated"> -->

    <!-- Hamburger Side Nav Toggle -->
    <button
    class="button-hamburger"
    mat-button
    type="button"
    (click)="onToggleSideNav()"
    >
      <mat-icon>menu</mat-icon>
    </button
    >

    <!-- Create Channel Button -->
    <button
      class="button-create-channel" 
      mat-button 
      type="button" 
      (click)="onCreateChannel()"
    >
      Create Channel
    </button>

    <!-- Logout Button -->
    <button 
      class="button-logout"
      mat-button 
      type="button"
      (click)="onLogout()"
    >
      Logout
    </button>
    
  <!-- </div> -->
</mat-toolbar>

