<mat-toolbar>
  <div class="nav-toolbar-wrapper" *ngIf="isAuthenticated">

    <!-- Hamburger Side Nav Toggle -->
    <button
      class="button-hamburger"
      mat-button
      type="button"
      (click)="onToggleSideNav()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Logout Button -->
    <div>
      <button (click)="onToggleTheme()">O</button>
      <button 
        class="button-logout"
        mat-button 
        type="button"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
    
  </div>
</mat-toolbar>

